:root {
  --jumbotron-padding-y: 3rem;
}

/* .jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
} */
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

body {
  color: #f2f2f2;
  font-family: "AvenirNext";
  font-size: 18px;
}

@media only screen and (max-width: 767px) {
  body {
    color: #f2f2f2;
    font-family: "AvenirNext";
    font-size: 14px;
  }
}

.main-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.main-nav .nav-item {
  display: flex;
  align-items: center;
}

.main-nav .nav-item .nav-link {
  color: #ffffff;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .main-nav .nav-item .nav-link {
    padding: 0.25rem 0.5rem;
  }
}

.navbar.main-navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #000000 !important;
}

main {
  min-height: 150vh;
  padding-top: 200px;
}

.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}
.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-menu .menu-item {
  /* color: #ff5800; */
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}

.main-menu .menu-item a {
  color: #ff5800;
  font-weight: 600;
}

.main-menu .menu-item a:hover {
  text-decoration: none;
}

.we-are-using .title {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.222rem;
  margin-bottom: 20px;
  font-weight: bold;
  font-style: italic;
}

.we-are-using .content {
  border: 1px solid #ffffff;
  margin: 20px;
}

.we-are-using .content .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .we-are-using .content .item {
    padding: 32px;
  }
}

.branding-bottom {
  display: flex;
  justify-content: center;
  padding: 250px 0 100px;
}

.scrollup {
  width: 86px;
  height: 64px;
  display: inline-block;
  background: url("../images/back-to-top.png") no-repeat center center;
  background-size: contain;
  z-index: 999;
  cursor: pointer;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .scrollup {
    width: 43px;
    height: 32px;
    bottom: 20px;
    right: 20px;
  }
}

/* Footer */
footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}

footer .left > div {
  margin-bottom: 0.667rem;
}

footer .right {
  margin-top: auto;
}

footer .left p {
  font-weight: 400;
  font-style: italic;
  color: #f2f2f2;
  margin-bottom: 0.333rem;
}

footer .contact {
  display: flex;
  justify-content: space-between;
}

footer .contact .title {
  font-size: 1.111rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

footer .right .footer-branding {
  margin-bottom: 0.889rem;
}
footer .right .social {
  display: flex;
}

footer .right .social .item:not(:last-of-type) {
  margin-right: 0.556rem;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.section-about p {
  margin-bottom: 20px;
  font-size: 1rem;
  font-style: italic;
}

@media only screen and (max-width: 767px) {
  footer .contact {
    flex-direction: column;
  }
  footer .contact .left {
    margin-bottom: 24px;
  }
  footer .contact .right {
    text-align: center;
  }
  footer .right .social {
    justify-content: center;
  }
}
